.cardWrap {
  width: 320px;
  margin: 10px;
  border: 1px solid grey;
  padding: 15px;
  
}

.average{
    border-radius: 50%;
    border: 1px solid gray;
    padding: 5px;
}
.poster{
    text-align: center;
}