.footer {
  background-color: grey;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  background-image: url("../../images/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.content {
  margin: 2rem;
}
.git {
  width: 50px;
}
