.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0 auto;
}

.input {
  height: 5rem;
  padding: 0 2rem;
  margin: 3rem 0;
  font-size: 1.5rem;
  color: #1e90ff;
  border-radius: 1rem;
  outline: none;
}

.label {
  font-size: 2rem;
}

.submit {
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
  background-color: #1e90ff;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  outline: none;
  border: none;
}
.submit:hover {
  -webkit-box-shadow: 0px 5px 40px -10px rgba(212, 211, 211, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(204, 203, 203, 0.57);
  transition: all 0.4s ease 0s;
}
