.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 40px;
}
.main{
  background-image: url('../../images/background4.jpg');
width: auto;
height: 400px;
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}

 .header{
     text-align: center;
     margin: 2rem auto 4rem;
 }
 .resultWrap{
      margin: 100px auto;

}
.wrapList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.result{
  display: flex;
  justify-content: center;
}

.logo{
  width: 350px;
  text-align: center;
}

.pagination{
  display: flex;
  width: 450px;
  justify-content: space-around;
  list-style-type: none;
  font-size: 16px;
  margin: 3rem auto;
}

.pagination li {
 border: 1px solid gray;
  padding: 5px;
}

.active{
  background-color: dodgerblue;
  padding:  5px;
}